@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ki1ev3');
	src:url('fonts/icomoon.eot?#iefixki1ev3') format('embedded-opentype'),
		url('fonts/icomoon.ttf?ki1ev3') format('truetype'),
		url('fonts/icomoon.woff?ki1ev3') format('woff'),
		url('fonts/icomoon.svg?ki1ev3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-youtube-with-circle:before {
	content: "\e68d";
}
.icon-facebook-with-circle:before {
	content: "\e68c";
}
.icon-type:before {
	content: "\e600";
}
.icon-box:before {
	content: "\e601";
}
.icon-archive:before {
	content: "\e602";
}
.icon-envelope:before {
	content: "\e603";
}
.icon-email:before {
	content: "\e604";
}
.icon-files:before {
	content: "\e605";
}
.icon-uniE606:before {
	content: "\e606";
}
.icon-file-settings:before {
	content: "\e607";
}
.icon-file-add:before {
	content: "\e608";
}
.icon-file:before {
	content: "\e609";
}
.icon-align-left:before {
	content: "\e60a";
}
.icon-align-right:before {
	content: "\e60b";
}
.icon-align-center:before {
	content: "\e60c";
}
.icon-align-justify:before {
	content: "\e60d";
}
.icon-file-broken:before {
	content: "\e60e";
}
.icon-browser:before {
	content: "\e60f";
}
.icon-windows:before {
	content: "\e610";
}
.icon-window:before {
	content: "\e611";
}
.icon-folder:before {
	content: "\e612";
}
.icon-folder-add:before {
	content: "\e613";
}
.icon-folder-settings:before {
	content: "\e614";
}
.icon-folder-check:before {
	content: "\e615";
}
.icon-wifi-low:before {
	content: "\e616";
}
.icon-wifi-mid:before {
	content: "\e617";
}
.icon-wifi-full:before {
	content: "\e618";
}
.icon-connection-empty:before {
	content: "\e619";
}
.icon-connection-25:before {
	content: "\e61a";
}
.icon-connection-50:before {
	content: "\e61b";
}
.icon-connection-75:before {
	content: "\e61c";
}
.icon-connection-full:before {
	content: "\e61d";
}
.icon-list:before {
	content: "\e61e";
}
.icon-grid:before {
	content: "\e61f";
}
.icon-uniE620:before {
	content: "\e620";
}
.icon-battery-charging:before {
	content: "\e621";
}
.icon-battery-empty:before {
	content: "\e622";
}
.icon-battery-25:before {
	content: "\e623";
}
.icon-battery-50:before {
	content: "\e624";
}
.icon-battery-75:before {
	content: "\e625";
}
.icon-battery-full:before {
	content: "\e626";
}
.icon-settings:before {
	content: "\e627";
}
.icon-arrow-left:before {
	content: "\e628";
}
.icon-arrow-up:before {
	content: "\e629";
}
.icon-arrow-down:before {
	content: "\e62a";
}
.icon-arrow-right:before {
	content: "\e62b";
}
.icon-reload:before {
	content: "\e62c";
}
.icon-refresh:before {
	content: "\e62d";
}
.icon-volume:before {
	content: "\e62e";
}
.icon-volume-increase:before {
	content: "\e62f";
}
.icon-volume-decrease:before {
	content: "\e630";
}
.icon-mute:before {
	content: "\e631";
}
.icon-microphone:before {
	content: "\e632";
}
.icon-microphone-off:before {
	content: "\e633";
}
.icon-book:before {
	content: "\e634";
}
.icon-checkmark:before {
	content: "\e635";
}
.icon-checkbox-checked:before {
	content: "\e636";
}
.icon-checkbox:before {
	content: "\e637";
}
.icon-paperclip:before {
	content: "\e638";
}
.icon-download:before {
	content: "\e639";
}
.icon-tag:before {
	content: "\e63a";
}
.icon-trashcan:before {
	content: "\e63b";
}
.icon-search:before {
	content: "\e63c";
}
.icon-zoomin:before {
	content: "\e63d";
}
.icon-zoomout:before {
	content: "\e63e";
}
.icon-chat:before {
	content: "\e63f";
}
.icon-chat-1:before {
	content: "\e640";
}
.icon-chat-2:before {
	content: "\e641";
}
.icon-chat-3:before {
	content: "\e642";
}
.icon-comment:before {
	content: "\e643";
}
.icon-calendar:before {
	content: "\e644";
}
.icon-bookmark:before {
	content: "\e645";
}
.icon-email2:before {
	content: "\e646";
}
.icon-heart:before {
	content: "\e647";
}
.icon-enter:before {
	content: "\e648";
}
.icon-cloud:before {
	content: "\e649";
}
.icon-book2:before {
	content: "\e64a";
}
.icon-star:before {
	content: "\e64b";
}
.icon-clock:before {
	content: "\e64c";
}
.icon-printer:before {
	content: "\e64d";
}
.icon-home:before {
	content: "\e64e";
}
.icon-flag:before {
	content: "\e64f";
}
.icon-meter:before {
	content: "\e650";
}
.icon-switch:before {
	content: "\e651";
}
.icon-forbidden:before {
	content: "\e652";
}
.icon-lock:before {
	content: "\e653";
}
.icon-unlocked:before {
	content: "\e654";
}
.icon-unlocked2:before {
	content: "\e655";
}
.icon-users:before {
	content: "\e656";
}
.icon-user:before {
	content: "\e657";
}
.icon-users2:before {
	content: "\e658";
}
.icon-user2:before {
	content: "\e659";
}
.icon-bullhorn:before {
	content: "\e65a";
}
.icon-share:before {
	content: "\e65b";
}
.icon-screen:before {
	content: "\e65c";
}
.icon-phone:before {
	content: "\e65d";
}
.icon-phone-portrait:before {
	content: "\e65e";
}
.icon-phone-landscape:before {
	content: "\e65f";
}
.icon-tablet:before {
	content: "\e660";
}
.icon-tablet-landscape:before {
	content: "\e661";
}
.icon-laptop:before {
	content: "\e662";
}
.icon-camera:before {
	content: "\e663";
}
.icon-microwaveoven:before {
	content: "\e664";
}
.icon-creditcards:before {
	content: "\e665";
}
.icon-calculator:before {
	content: "\e666";
}
.icon-bag:before {
	content: "\e667";
}
.icon-diamond:before {
	content: "\e668";
}
.icon-drink:before {
	content: "\e669";
}
.icon-shorts:before {
	content: "\e66a";
}
.icon-vcard:before {
	content: "\e66b";
}
.icon-sun:before {
	content: "\e66c";
}
.icon-bill:before {
	content: "\e66d";
}
.icon-coffee:before {
	content: "\e66e";
}
.icon-uniE66F:before {
	content: "\e66f";
}
.icon-newspaper:before {
	content: "\e670";
}
.icon-stack:before {
	content: "\e671";
}
.icon-mapmarker:before {
	content: "\e672";
}
.icon-map:before {
	content: "\e673";
}
.icon-support:before {
	content: "\e674";
}
.icon-uniE675:before {
	content: "\e675";
}
.icon-barbell:before {
	content: "\e676";
}
.icon-stopwatch:before {
	content: "\e677";
}
.icon-atom:before {
	content: "\e678";
}
.icon-syringe:before {
	content: "\e679";
}
.icon-health:before {
	content: "\e67a";
}
.icon-bolt:before {
	content: "\e67b";
}
.icon-pill:before {
	content: "\e67c";
}
.icon-bones:before {
	content: "\e67d";
}
.icon-lab:before {
	content: "\e67e";
}
.icon-clipboard:before {
	content: "\e67f";
}
.icon-mug:before {
	content: "\e680";
}
.icon-bucket:before {
	content: "\e681";
}
.icon-select:before {
	content: "\e682";
}
.icon-graph:before {
	content: "\e683";
}
.icon-crop:before {
	content: "\e684";
}
.icon-image:before {
	content: "\e685";
}
.icon-cube:before {
	content: "\e686";
}
.icon-bars:before {
	content: "\e687";
}
.icon-chart:before {
	content: "\e688";
}
.icon-pencil:before {
	content: "\e689";
}
.icon-measure:before {
	content: "\e68a";
}
.icon-eyedropper:before {
	content: "\e68b";
}
