///*------------------------------------*\
//    #ALIASES
//\*------------------------------------*/


// Font size.
@mixin font-size($args...) {
  @include adjust-font-size-to($args...);
}


// Media query.
// @see _breakpoint.scss
@mixin media-query($args...) {
  @include breakpoint($args...){
    @content;
  }
}
