///*------------------------------------*\
//    #ATTENTION
//\*------------------------------------*/


/**
 * Apply hover, active and focus in one go.
 */
@mixin attention($self: false) {

  @if($self != false) {

    &,
    &.active,
    &:hover,
    &:active,
    &:focus {
      @content;
    }

  }

  @else {

    &.active,
    &:hover,
    &:active,
    &:focus {
      @content;
    }

  }

}