/*------------------------------------*\
    #BUTTON
\*------------------------------------*/


/**
 * A simple button object.
 */
.button,
%button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin:  0;
  cursor: pointer;
  overflow: visible;
  padding: $spacing-unit--small $spacing-unit;
  border: solid 1px;
  @include transition;
}

.button--full,
%button--full {
  width: 100%;
  max-width: 100%;
}
