///*------------------------------------*\
//    #CIRCLE
//\*------------------------------------*/


@mixin circle($circle-size) {
  display: block;
  padding: 0;
  height: $circle-size;
  width: $circle-size;

  @include border-radius($circle-size);
}
