/*------------------------------------*\
    #GRID
\*------------------------------------*/


.grid {
  @include container;
}


/**
 * Grid row 4.
 */
.grid-row-4 {
  content: "";

  @include media-query($breakpoint-extra-small) {
    @include span(8 of 16);

    &:nth-child(odd) {
      @include span(8 of 16 last);
    }
  }

  @include media-query($breakpoint-large) {
    @include span(4 of 16);

    &:nth-child(odd) {
      @include span(4 of 16);
    }

    &:nth-child(4n+4) {
      @include span(4 of 16 last);
    }

    &:nth-child(4n+5) {
      clear: both;
    }
  }

}


/**
 * Grid row 3.
 */
.grid-row-3 {
  content: "";

  @include media-query($breakpoint-extra-small) {
    @include span(8 of 16);

    &:nth-child(odd) {
      @include span(8 of 16 last);
    }
  }

  @include media-query($breakpoint-large) {
    @include span(3 of 9);

    &:nth-child(odd) {
      @include span(3 of 9);
    }

    &:nth-child(3n+3) {
      @include span(3 of 9 last);
    }

    &:nth-child(3n+4) {
      clear: both;
    }
  }

}


/**
 * Gallery row 4.
 *
 * A grid with a tiny gutter.
 */
.grid-row-gallery-4 {
  margin-bottom: 1px;
  @include span(25 of 100);

  &:nth-child(4n+4) {
    @include span(25 of 100 last);
  }
}


/**
 * Gallery row 3
 *
 * A grid with a tiny gutter.
 */
.grid-row-gallery-3 {
  @include span(36 of 108);

  &:nth-child(3n+3) {
    @include span(36 of 108 last);
  }
}


/**
 * Drupal selectors.
 *
 * Add classes through Views UI.
 */
.view-grid > .view-content {
  @extend .grid;
}

.view-row-4 {
  @extend .grid-row-4;
}

.view-row-3 {
  @extend .grid-row-3;
}

.view-row-gallery-4 {
  @extend .grid-row-gallery-4;
}

.view-row-gallery-3 {
  @extend .grid-row-gallery-3;
}
