///*------------------------------------*\
//    #ICONS
//\*------------------------------------*/


@font-face {
  font-family: map-get($icon-mappings, font-family);
  src: url('#{$icon-font-path}/icomoon.eot?-e19ubq');
  src: url('#{$icon-font-path}/icomoon.eot?#iefix-e19ubq') format('embedded-opentype'),
  url('#{$icon-font-path}/icomoon.woff?-e19ubq') format('woff'),
  url('#{$icon-font-path}/icomoon.ttf?-e19ubq') format('truetype'),
  url('#{$icon-font-path}/icomoon.svg?-e19ubq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


@mixin icon($icon-name: nil, $mappings: $icon-mappings, $pseudo: 'before') {

  $icon-code: icon-code($icon-name, $mappings);

  @if $icon-code {
    &:#{$pseudo} {
      content: $icon-code;
      display: inline-block;
      font-family: map-get($mappings, font-family);
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

    }
  }

  @else {
    @warn "Unknown icon code: #{$icon-name}";
  }
}


// Returns the code icon.
@function icon-code($icon-name, $mappings: $icon-mappings) {
  @return map-deep-get($mappings, codes, $icon-name);
}
