///*------------------------------------*\
//    #RESPONSIVE-UTILITIES
//\*------------------------------------*/


// Visibility responsive utility classes.
.visible--x-small,
%visible--x-small {
  @include breakpoint($breakpoint-medium) {
    display: none;
  }
}

.visible--small,
%visible--small {
  display: none;

  @include breakpoint($breakpoint-small) {
    display: block;
  }
}

.visible--medium,
%visible--medium {
  display: none;

  @include breakpoint($breakpoint-medium) {
    display: block;
  }
}

.visible--large,
%visible--large {
  display: none;

  @include breakpoint($breakpoint-large) {
    display: block;
  }
}

.visible--x-large,
%visible--x-large {
  display: none;

  @include breakpoint($breakpoint-extra-large) {
    display: block;
  }
}

// Hidden responsive utiliy classes.
.hidden--x-small,
%hidden--x-small {
  display: none;

  @include breakpoint($breakpoint-small) {
    display: block;
  }
}

.hidden--medium,
%hidden--medium {
  display: block;

  @include breakpoint($breakpoint-medium) {
    display: none;
  }

  @include breakpoint($breakpoint-large) {
    display: block;
  }
}

.hidden--large,
%hidden--large {
  display: block;

  @include breakpoint($breakpoint-large) {
    display: none;
  }
}

.hidden--x-large,
%hidden--x-large {
  display: block;

  @include breakpoint($breakpoint-extra-large) {
    display: none;
  }
}
