///*------------------------------------*\
//    #TRIANGLE
//\*------------------------------------*/


@mixin triangle($triangle-border, $triangle-left-border, $triangle-color) {
  border-top: $triangle-border solid transparent;
  border-bottom: $triangle-border solid transparent;
  border-left: $triangle-left-border solid $triangle-color;
}
