/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/


// Default link.
.default-link,
%default-link {
  color: $color-brand-alpha;
  text-decoration: none;
  @include transition;

  @include attention {
    color: $color-brand-alpha-light;
  }
}


// Light link.
.light-link,
%light-link {
  color: $color-white;
  @include transition;

  @include attention {
    color: $color-brand-alpha-light;
  }
}


// Grey link.
.grey-link,
%grey-link {
  color: $color-grey-mid;
  @include transition;

  @include attention {
    color: $color-grey-light;
  }
}


// Text align.
.text-align-left,
%text-align-left {
  text-align: left;
}

.text-align-right,
%text-align-right {
  text-align: right;
}

.text-align-center,
%text-align-center {
  text-align: center;
}

// Small caps.
.text-small-caps,
%text-small-caps {
  text-transform: lowercase;
  font-variant: small-caps;
}

// Lists.
.reset-list,
%reset-list {
  list-style: none;
  list-style-image: none !important;
  padding: 0;
  margin: 0;
}
