/*------------------------------------*\
    #404-page
\*------------------------------------*/


.body-404 {
  position: relative;
  background: url("../images/minion.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@include media-query($breakpoint-medium) {
  .page-404 {
    position: absolute;
    top: 20%;
  }
}
