/*------------------------------------*\
    #ADVERT
\*------------------------------------*/


.advert {

  img {
    display: block;
  }
}

.advert--dark {
  padding-top: $spacing-unit--small;
  padding-bottom: $spacing-unit--small;
  background: $color-black;
}

.advert--sidebar {
  padding-top: $spacing-unit--small;
  padding-bottom: $spacing-unit--small;

  @include media-query($breakpoint-medium) {
    margin-top: ($spacing-unit * 4);
  }
}
