/*------------------------------------*\
    #AVATAR-CONTENT
\*------------------------------------*/


.avatar-content {
  @include container;
}

.avatar-content__first {
  @include span(1 of 3);
}

.avatar-content__second {
  @include span(2 of 3 last);
}

.avatar-content__image img {
  @include circle(100%);
}

.avatar-content__title {
  @include font-size($font-h6);
  margin: 0;
}
