/*------------------------------------*\
    #BACK-TO-TOP
\*------------------------------------*/


.back-to-top {
  position: fixed;
  display: none;
  background: $color-black;
  padding: $spacing-unit--tiny;
  color: $color-white;
  bottom: 0;
  right: 0;
  cursor: pointer;
  z-index: 8000;
  opacity: 0.8;
  @include transition(all 0.2s linear);

  @include attention {
    opacity: 1;
  }
}
