/*------------------------------------*\
    #BANNER-REGION
\*------------------------------------*/


.banner-region {
  margin-bottom: $spacing-unit;
  overflow: auto;
  width: 100%;

  @include media-query($breakpoint-small) {
    > .block--views-nodequeue-1-index-slideshow {
      float: left;
      width: 40%;
    }

    > .block--views-cta-block-primary-cta {
      width: 60%;
      float: right;
    }
  }
}

.banner-region .view-id-cta {
  .view-content {
    overflow: auto;
  }

  .views-row {
    width: 50%;
    float: left;

    @include media-query($breakpoint-small) {
      width: 33.3333%;
    }
  }
}
