/*------------------------------------*\
    #BANNER
\*------------------------------------*/


/**
 * Banner component.
 *
 * Markup: node--view-mode--banner.tpl.php
 *
 * 1. Position absolute relative to this.
 */
.banner {
  position: relative; /* [1] */
  border-bottom: solid 1px $color-grey-dark;
  
  img {
    display: block;
  }
}

.banner__first {
  position: relative;
}

.banner__overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include background-image(linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.20) 30%,
      rgba(0, 0, 0, 0.46) 70%,
      rgba(0, 0, 0, 0.62) 95%,
      rgba(0, 0, 0, 0.65) 100%
  ));
}

.banner__second {
  position: relative;
  z-index: 15;

  @include media-query($breakpoint-large) {
    position: absolute; /* [1] */
    width: 100%;
    bottom: $spacing-unit--large;
  }
}

.banner,
.banner__body,
.banner__link {
  @extend %margin-bottom--large;
}

.banner__link {
  @include media-query($breakpoint-large) {
    margin-bottom: 0;

    a {
      color: $color-white;

      @include attention {
        color: $color-brand-alpha;
        border-color: $color-white;
        background: $color-white;
      }
    }
  }
}

.banner__link a {
  @include media-query($breakpoint-large) {
    color: $color-white;

    @include attention {
      color: $color-brand-alpha;
      border-color: $color-white;
      background: $color-white;
    }
  }
}

.banner__title {
  font-weight: $font-light;

  @include media-query($breakpoint-large) {
    color: $color-white;
  }
}

.banner__body {
  @include media-query($breakpoint-large) {
    color: $color-white;
  }
}


.banner__meta {
  @include container;

  > .banner__icon {
    @include span(1 of 3);
  }

  > .banner__icon:last-child {
    @include span(1 of 3 last);
  }
}
