/*------------------------------------*\
    #BUTTON
\*------------------------------------*/


.button--primary {

  @include attention {
    color: $color-white;
    background: $color-brand-alpha;
  }

}

.button--secondary {
  color: $color-white;
  background: $color-btn-secondary;
  border-color: $color-btn-secondary-border;

  @include attention {
    background: $color-btn-secondary-hover;
    border-color: $color-btn-secondary-hover;
    color: $color-white;
  }
}
