/*------------------------------------*\
    #CARD
\*------------------------------------*/


.card {
  display: block;
  border: solid 1px $color-borders;
}

.card__image-container {
  position: relative;
}

.card__image img {
  display: block;
}

.card__image-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  @include background-image(linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.20) 30%,
      rgba(0, 0, 0, 0.46) 70%,
      rgba(0, 0, 0, 0.62) 95%,
      rgba(0, 0, 0, 0.65) 100%
  ));
}

.card__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  color: $color-white;
  margin: 0 0 $spacing-unit--small;
  padding: $spacing-unit--small;
  @include font-size($font-h5);
  font-weight: $font-normal;
}

.card__content {
  color: $color-black;
  padding: $spacing-unit;
  border-bottom: solid 1px $color-borders;
}

.card__date {
  display: block;
  margin-bottom: $spacing-unit--small;
}

.card__location {
  margin-bottom: $spacing-unit--small;
}

.card__cta {
  padding: $spacing-unit--small $spacing-unit;
  color: $color-brand-alpha;
  font-weight: $font-bold;
  text-transform: lowercase;
  font-variant: small-caps;
  text-align: right;
}

.card__partner {
  display: inline-block;
  margin-left: $spacing-unit--tiny;
  color: $color-brand-gamma-light;
  @include font-size($font-h6);
}

.card__win {
  display: inline-block;
  margin-left: $spacing-unit--tiny;
  color: $color-brand-beta-light;
  @include font-size($font-h6);
}
