/*------------------------------------*\
    #COLLECTION
\*------------------------------------*/


.collection__element {
  display: block;
  width: 100%;
  border-bottom: solid 1px $color-borders;
  padding-bottom: $spacing-unit--small;
  margin-bottom: $spacing-unit--small;
}

.collection__label {
  display: inline-block;
}


/**
 * Views selectors.
 */
.collection--view--row {
  @extend .collection__element;
}