/*------------------------------------*\
    #FOOTER
\*------------------------------------*/


$footer-text-color: #818181;
$footer-bg:         #111111;
$footer-logo-width: 150px;

@mixin footer-link {
  color: $footer-text-color;

  @include attention {
    color: $color-white;
  }
}


/**
 * Footer component.
 */
.footer {
  background: $footer-bg;
  color: $footer-text-color;
  padding-top: $spacing-unit--large;
  padding-bottom: $spacing-unit--large;
}

.footer__first {
  border-bottom: solid 1px $footer-text-color;
  padding-bottom: $spacing-unit;
  margin-bottom: $spacing-unit;
}

.footer__heading {
  @include font-size($font-h5);
}

.footer__menu {
  clear: both;

  ul, li {
    @extend .reset-list;
  }

  li {
    display: inline-block;
    margin-right: $spacing-unit--small;
  }

  a {
    @include footer-link;
  }
}

.footer__logo {
  max-width: $footer-logo-width;
}

.footer__second ul {
  @extend .reset-list;

  li {
    @extend .reset-list;
  }

  a {
    @include footer-link;
  }
}


@include media-query($breakpoint-medium) {
  .footer__second {

    > .footer__second-col-first {
      display: inline-block;
      margin-right: $spacing-unit--large;
      overflow: hidden;
      float: left;
      margin-bottom: $spacing-unit;
    }

    > .footer__second-col-second {
      display: inline-block;
      overflow: hidden;
      float: left;
    }

    > .footer__second-col-third {
      float: right;
    }
  }

  .footer__copyright {
    clear: both;
  }
}
