/*------------------------------------*\
    #FORMS
\*------------------------------------*/


.form--dark {

  form label {
    color: $color-grey-dark;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    max-width: 100%;
    width: 100%;
    color: $color-grey-dark;
    padding-top: $spacing-unit--tiny;
    padding-bottom: $spacing-unit--tiny;
    background: none;
    border: none;
    border-bottom: solid 2px $color-brand-alpha;

    @include attention {
      color: $color-brand-beta;
      border-bottom: solid 2px $color-brand-beta-light;
    }
  }

}
