/*------------------------------------*\
    #HEADER
\*------------------------------------*/



.header__logo {
    position: relative;
    top: $spacing-unit--small;

    @include span(2 of 12);
}

.header__site-switcher {
    @include span(4 of 12);
}

.header__utility-menu {
    @include span(6 of 12 last);
}
