/*------------------------------------*\
    #JUMBOTRON
\*------------------------------------*/


.jumbotron {
  border-bottom: solid 3px $color-brand-beta;
  padding-bottom: $spacing-unit;
  margin-bottom: $spacing-unit;
  position: relative;

  @include media-query($breakpoint-large) {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.jumbotron__title {
  @include font-size($font-h4);
}

.jumbotron__meta {
  list-style: none;
  padding: 0;
  margin: 0;
}

.jumbotron__trailer {
  margin-bottom: $spacing-unit--small;
}

.jumbotron__first {
  @include span(3 of 6);

  @include media-query($breakpoint-large) {
    @include span(8 of 12);
  }
}

.jumbotron__second {
  @include span(3 of 6 last);

  @include media-query($breakpoint-large) {
    @include span(2 of 12 last);
  }
}

.jumbotron__background {
  @include media-query($breakpoint-large) {
    position: relative;
    z-index: 50;

    img {
      display: block;
    }
  }
}

.jumbotron__overlay {
  @include media-query($breakpoint-large) {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include background-image(linear-gradient(
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.20) 30%,
        rgba(0, 0, 0, 0.46) 70%,
        rgba(0, 0, 0, 0.62) 95%,
        rgba(0, 0, 0, 0.65) 100%
    ));
  }
}

.jumbotron__content {

  @include media-query($breakpoint-large) {
    position: absolute;
    width: 100%;
    z-index: 100;
    left: 0;
    bottom: $spacing-unit;
    color: $color-white;
  }

}
