/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/


/**
 * Layout.
 */
.layout {
  @extend .wrapper;
}


/**
 * Two col layout modifier.
 */
.layout--two-col {
  .layout__first {
    @include media-query($breakpoint-medium) {
      @include span(65%);
    }
  }

  .layout__second {
    @include media-query($breakpoint-medium) {
      @include span(28.65% last);
    }
  }
}


/**
 * Three col layout modifier.
 */
.layout--three-col {
  @extend .wrapper--large;

  .layout__first {
    @include media-query($breakpoint-small) {
      @include span(18.65%);
    }

    @include media-query($breakpoint-large) {
      @include span(2 of 12);
    }
  }

  .layout__second {
    @include media-query($breakpoint-small) {
      @include span(75% last);
    }

    @include media-query($breakpoint-large) {
      @include span(7 of 12);
    }
  }

  .layout__third {
    @include media-query($breakpoint-small) {
      clear: both;
    }

    @include media-query($breakpoint-large) {
      clear: inherit;
      @include span(3 of 12 last);
    }
  }

}
