/*------------------------------------*\
    #LIGHTBOX
\*------------------------------------*/


.lightbox {
  background: $color-grey-light;

  @include media-query($breakpoint-large) {
    padding-left: 0;
  }
}

.lightbox__title {
  color: $color-brand-alpha;
  margin-bottom: 0;
  @include font-size($font-h3);
}

.lightbox__subtitle {
  color: $color-brand-alpha-light;
  @include font-size($font-h4);
}

.lightbox__first {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;

  img {
    display: block;
  }

  @include media-query($breakpoint-large) {
    @include span(8 of 12);
    padding: 0;
  }

}

.lightbox__second {

  @include media-query($breakpoint-large) {
    @include span(4 of 12 last);
  }

}
