/*------------------------------------*\
    #MASTHEAD
\*------------------------------------*/


$masthead-width:           1400px;
$masthead-breakpoint:      $breakpoint-medium;


/**
 * Component.
 */
.masthead {
  @include container($masthead-width);
  position: relative;

  img {
    display: block;
  }
}

.masthead__first {
  position: relative;
  z-index: 5;
  margin-bottom: $spacing-unit;

  @include media-query($masthead-breakpoint) {
    margin-bottom: 0;
  }
}

.masthead__overlay {
  @include media-query($masthead-breakpoint) {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    @include background-image(linear-gradient(
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.20) 30%,
        rgba(0, 0, 0, 0.46) 70%,
        rgba(0, 0, 0, 0.62) 95%,
        rgba(0, 0, 0, 0.65) 100%
    ));
  }
}

.masthead__second {
  @extend .wrapper;
  border-bottom: solid 1px $color-borders;
  padding-bottom: $spacing-unit;

  @include media-query($masthead-breakpoint) {
    position: absolute;
    padding: 0;
    color: $color-white;
    left: $spacing-unit;
    bottom: $spacing-unit;
    z-index: 15;
    border-bottom: none;
  }
}

.masthead__title {
  @include font-size($font-h2);
  margin: 0;
}

.masthead__title-prefix {
  @include font-size($font-h5);
  @extend .text-small-caps;
}
