/*------------------------------------*\
    #MOBILE-HEADER
\*------------------------------------*/


.mobile-header {
  background: $color-black;
  padding: $spacing-unit--small;
}

.mobile-header__container {
  @include container;
}

.mobile-header__logo {
  @include span(2 of 3);
}

.mobile-header__link {
  padding-top: $spacing-unit--tiny;
  @include span(1 of 3 last);
  color: $color-white;

  @include attention {
    color: $color-white;
  }
}
