/*------------------------------------*\
    #MOBILE-MENU
\*------------------------------------*/


.mobile-menu__menu {
  ul, li {
    @extend .reset-list;
  }

  a {
    display: block;
    background: $color-black;
    margin-bottom: 1px;
    padding: $spacing-unit--small;
    @extend .light-link;
  }

  li ul a {
    padding-left: $spacing-unit;
  }
}
