/*------------------------------------*\
    #MOVIE-GRID
\*------------------------------------*/


.movie-grid__title {
  @include font-size($font-h3);
}

.movie-grid__search {
  @extend .margin-bottom;
  width: 100%;
}

.movie-grid__header {
  @include container;

  @include media-query($breakpoint-large) {
    margin-bottom: $spacing-unit--large;

    > .movie-grid__title {
      margin-top: 0;
      margin-bottom: 0;
      @include span(3 of 5);
    }

    .movie-grid__search {
      margin-bottom: 0;
      margin-top: $spacing-unit--tiny;
      @include span(2 of 5 last);
    }

  }
}

.movie-grid__wrapper {
  @include container;

  > .movie-card {
    @include span(6 of 12);
  }

  > .movie-card:nth-child(odd) {
    @include span(6 of 12 last);
  }

  > .movie-card:nth-child(2n+3) {
    clear: both;
  }
}

@include media-query($breakpoint-small) {
  .movie-grid__wrapper {

    > .movie-card,
    > .movie-card:nth-child(odd),
    > .movie-card:nth-child(2n+3) {
      clear: inherit;
      @include span(3 of 12);
    }

    > .movie-card:nth-child(4n+4) {
      @include span(3 of 12 last);
    }

    > .movie-card:nth-child(4n+5) {
      clear: both;
    }

  }
}

@include media-query($breakpoint-large) {
  .movie-grid__wrapper {

    > .movie-card,
    > .movie-card:nth-child(odd),
    > .movie-card:nth-child(2n+3),
    > .movie-card:nth-child(4n+4),
    > .movie-card:nth-child(4n+5) {
      clear: inherit;
      @include span(2 of 12);
    }

    .movie-card:nth-child(6n+6) {
      @include span(2 of 12 last);
    }

    .movie-card:nth-child(6n+7) {
      clear: both;
    }
  }
}
