/*------------------------------------*\
    #NAV
\*------------------------------------*/


.nav a {
  display: block;
  color: $color-white;
  padding: $spacing-unit--small;

  @include font-size($font-size-medium);

  &:hover {
    background: $color-grey-dark;
  }

  &.active {
    background: $color-grey-dark;
  }
}
