/*------------------------------------*\
    #NAVBAR
\*------------------------------------*/


.navbar {
  background: $color-black;
}

.navbar--light {
  background: $color-brand-gamma;

  a.active,
  a:hover {
    background: $color-brand-gamma-light;
  }
}

.navbar--sticky {
  z-index: 9999;
}
