/*------------------------------------*\
    #NEWSLETTER
\*------------------------------------*/


$newsletter-breakpoint: $breakpoint-large;

.newsletter {
  background: url('../images/bg-tile.jpg') repeat 0 0;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit--xlarge;
}

.newsletter__title {
  color: $color-white;
  @extend .font-h3;

  @include media-query($newsletter-breakpoint) {
    margin-bottom: $spacing-unit--large;
  }
}

.newsletter__disclaimer {
  color: $color-white;
}

.newsletter__surname {
  content: "";

  @include media-query($newsletter-breakpoint) {
    @include span(1 of 4);
  }
}

.newsletter__firstname {
  content: "";

  @include media-query($newsletter-breakpoint) {
    @include span(1 of 4);
  }
}

.newsletter__email {
  content: "";

  @include media-query($newsletter-breakpoint) {
    @include span(1 of 4);
  }
}

.newsletter__submit {
  content: "";

  @include media-query($newsletter-breakpoint) {
    position: relative;
    top: $spacing-unit--tiny;
    @include span(1 of 4 last);
  }
}

.newsletter__submit-button {
  content: "";

  @include media-query($newsletter-breakpoint) {
    width: 100%;
    max-width: 100%;
  }
}


/**
 * Extend Drupal ugly selectors.
 */
.newsletter .webform-component--nom {
  @extend .newsletter__surname;
}

.newsletter .webform-component--prenom {
  @extend .newsletter__firstname;
}

.newsletter .webform-component--email {
  @extend .newsletter__email;
}

.newsletter .form-actions {
  @extend .newsletter__submit;
}

.newsletter .form-submit {
  @extend .newsletter__submit-button;
}
