/*------------------------------------*\
    #PAGER-LOAD-MORE
\*------------------------------------*/


.pager-load-more {
  list-style: none;

  a {
    @extend .button;
    @extend .button--secondary;
  }
}
