/*------------------------------------*\
    #PAGE-TITLE
\*------------------------------------*/


.page-title {
  @include font-size($font-h2);
  color: $color-brand-alpha;
  margin-bottom: 0;
}

.page-title__subtitle {
  @include font-size($font-h5);
  color: $color-brand-alpha-light;
  margin: 0;
}


/**
 * Banner modifier.
 */
.page-title--banner {
  background: url('../images/bg-tile.jpg') repeat 0 0;
  overflow: auto;
  color: $color-white;
  @extend .margin-bottom;

  .page-title__title {
    @include font-size($font-h2);
  }

}
