/*------------------------------------*\
    #PANEL
\*------------------------------------*/


.panel {
  position: relative;
  display: block;
  width: 100%;
  
  img {
    display: block;
  }
}

.panel__content {
  position: absolute;
  display: block;
  bottom: $spacing-unit--small;
  width: 100%;
  max-width: 90%;
  background: $color-white;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  padding: $spacing-unit--tiny;

  @include media-query($breakpoint-medium) {
    padding: $spacing-unit;
  }
}

.panel__title {
  @include font-size($font-size-small);
  margin: 0 0 $spacing-unit--tiny;
  color: $color-black;
  font-weight: $font-bold;
  text-transform: uppercase;

  @include media-query($breakpoint-medium) {
    @include font-size($font-h6);
  }
}

.panel__sub-title {
  @include font-size($font-size-small);
  color: $color-brand-gamma;

  @include media-query($breakpoint-medium) {
    @include font-size($font-h5);
  }
}