/*------------------------------------*\
    #QUICKTABS
\*------------------------------------*/


.quicktabs-tabs {
  padding: 0;
  margin-bottom: $spacing-unit--large;
}

.quicktabs-tabs li {
  padding: 0;
  margin: 0;
}

.quicktabs-tabs a {
  padding: $spacing-unit--small;
  text-align: center;
  border-bottom: solid 2px $color-grey-light;
  text-transform: uppercase;
  @include font-size($font-size-medium);
  color: $color-grey-dark;
  cursor: pointer;

  &:hover {
    color: $color-brand-beta-light;
  }
}

.quicktabs-tabs li.active a {
  color: $color-brand-alpha;
  border-bottom-color: $color-brand-alpha;
}
