/*------------------------------------*\
    #SESSION
\*------------------------------------*/


.session__heading {
  @extend .font-h4;
  @extend .text-small-caps;
  color: $color-brand-beta;
}

.session__table {
  width: 100%;
}

.session__day,
.session__times {
  padding: $spacing-unit--tiny 0;
}

.session__day {
  width: 35%;
}

.session__times {
  width: 65%;
}

.session__rows {
  border-top: solid 1px $color-borders;
  background: $color-grey-light;

  &:nth-child(even) {
    background: $color-white;
  }

  &:hover {
    background: $color-borders;
  }
}

.session_time {
  display: inline-block;
  background: $color-grey-regular;
  color: $color-white;
  padding: ($spacing-unit--tiny / 2) $spacing-unit--small;
  @include border-radius;
  @include font-size($font-size-small);
  font-weight: $font-bold;
}
