/*------------------------------------*\
    #SLICK-DOTS
\*------------------------------------*/


// Local variables.
$slick-dots-color:        $color-brand-alpha;
$slick-dots-active-color: $color-white;
$slick-dots-hover-color:  $color-brand-alpha-light;
$slick-dots-size:         14px;
$slick-dots-spacing:      $spacing-unit--small;


/**
 * Styles for the slick slider dot nav.
 *
 * 1. Reset default list styles.
 * 2. Reset default <button> styles.
 */
.slick-dots {
  text-align: center;
  padding: 0; /* [1] */
  margin: 0;  /* [1] */

  li {
    display: inline-block;
    margin: 0 $slick-dots-spacing;
  }

  button {
    display: block;
    padding: 0;
    height: $slick-dots-size;
    width: $slick-dots-size;
    font-size: 0;
    color: transparent;      /* [2] */
    background: transparent; /* [2] */
    outline: none;           /* [2] */
    border: none;            /* [2] */


    &:before {
      display: block;
      content: "";
      background: $slick-dots-color;
      @include circle($slick-dots-size);
    }
  }
}

/**
 * Slick dots States.
 */
.slick-dots {
  .slick-active button:before,
  .slick-active:hover button:before {
    background-color: $slick-dots-active-color;
  }
}

.slick-dots li:hover button:before {
  background-color: $slick-dots-hover-color;
}
