/*------------------------------------*\
    #SLIDESHOW
\*------------------------------------*/


/**
 * Component.
 *
 * 1. Override Slick slider default styles.
 */
.slideshow {
  position: relative;
}

.slideshow__dots {
  display: none !important; /* [1] */

  @include media-query($breakpoint-large) {
    display: block !important;  /* [1] */
    position: absolute;
    width: 100%;
    bottom: $spacing-unit--large;
  }
}

.slideshow__dots--secondary {
  bottom: 0;
}


/**
 * Extends Drupal selectors.
 */
.view--slideshow {
  @extend .slideshow;
}

.view--slideshow .slick-dots {
  @extend .slideshow__dots;
}

.view--slideshow--secondary .slick-dots {
  @extend .slideshow__dots--secondary;
}