/*------------------------------------*\
    #STICKY-WRAPPER
\*------------------------------------*/

.sticky-wrapper {
  display: none;

  @include media-query($breakpoint-large) {
    display: block;
  }
}
