/*------------------------------------*\
    #THUMBNAIL
\*------------------------------------*/


.thumbnail__link {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 0;
  cursor: pointer;
  @extend .icon--zoomin;
  @include transition;

  &:before {
    cursor: pointer;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: (-$font-h3 / 2);
    text-align: center;
    color: $color-white;
    z-index: 5;
    opacity: 0;
    @include font-size($font-h3);
    @include transition;
  }

  &:after {
    position: absolute;
    cursor: pointer;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-black;
    opacity: 0;
    @include transition;
  }

  &:hover:after {
    opacity: 0.8;
  }

  &:hover:before {
    opacity: 1;
  }
}

.thumbnail__title {
  @include font-size($font-size-medium);
  @include container(90%);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
