/*------------------------------------*\
    #TRAILER-THUMB
\*------------------------------------*/


// Local variables.
$trailer-thumb-triangle-width: 50px;
$trailer-thumb-triangle-half-height: 30px;


// Component.
.trailer-thumb__link {
  position: relative;
  display: block;
  overflow: hidden;
}

.trailer-thumb__button {
  @include triangle($trailer-thumb-triangle-half-height, $trailer-thumb-triangle-width, $color-white);

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -$trailer-thumb-triangle-half-height;
  margin-left: (-$trailer-thumb-triangle-width / 2);
}
