/*------------------------------------*\
    #USER-LOGIN
\*------------------------------------*/


.user-login {
  margin-top: $spacing-unit--large;
  @extend .wrapper;

  label,
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    color: $color-black;
  }
}
