/*------------------------------------*\
    #ICON
\*------------------------------------*/


/**
 * List of icons available on the site.
 * @see icon settings.
 */
$icon-names: (
  bill,
  calendar,
  map,
  pin,
  tag,
  newspaper,
  image,
  zoomin,
  clock,
  list,
  arrow-up,
  facebook,
  youtube,
  phone,
  star,
  stack
);


/**
 * Cosmetic free icons.
 * Generates all font icons.
 *
 * Use the a component to manipulate styles like colours...
 */
@each $icon in $icon-names {
  .icon--#{$icon} {
    @include icon($icon, $icon-mappings);
  }
}

.icon--large {
  @include font-size($font-h4);
}
