/*------------------------------------*\
    #ICONIC
\*------------------------------------*/


.iconic {
  display: block;
  @include container;
}

.iconic__icon {
  @include span(1.5 of 12);
}

.iconic__text {
  @include span(10.5 of 12 last);
}
