/*------------------------------------*\
    #NAV
\*------------------------------------*/

.nav ul {
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.nav a {
  padding: 0 $spacing-unit--small;
}

.nav--right ul {
  text-align: right;
}