/*------------------------------------*\
    #WRAPPERS
\*------------------------------------*/


// Default wrapper.
.wrapper {
  @include container($wrapper-width-default);
  padding-right: $spacing-unit--small;
  padding-left:  $spacing-unit--small;

  @include breakpoint($breakpoint-large) {
    padding-right: $spacing-unit;
    padding-left:  $spacing-unit;
  }

}


// Medium wrapper.
.wrapper--medium {
  max-width: $wrapper-width-medium;
}


// Large wrapper.
.wrapper--large {
  max-width: $wrapper-width-large;
}
