///*------------------------------------*\
//    #BREAKPOINTS
//\*------------------------------------*/

$breakpoint-extra-small: 30.000em; // 480px
$breakpoint-small:       45.000em; // 720px
$breakpoint-medium:      60.000em; // 960px
$breakpoint-large:       75.000em; // 1200px
$breakpoint-extra-large: 87.500em; // 1400px
