///*------------------------------------*\
//    #COLOR
//\*------------------------------------*/

// Brand
$color-brand-alpha:          #2c3e50;
$color-brand-alpha-light:    #607182;
$color-brand-beta:           #c34338;
$color-brand-beta-light:     #e8837a;
$color-brand-gamma:          #f13696;
$color-brand-gamma-light:    #e691bd;


// Greys
$color-white:                #ffffff;
$color-grey-light:           #f5f5f5;
$color-grey-regular:         #999999;
$color-grey-mid:             #515151;
$color-grey-dark:            #333333;
$color-black:                #000000;


// Page
$base-text-color:            $color-grey-dark;


// Borders:
$color-borders:              #dcdcdc;


// Links
$color-links:                $color-brand-beta;
$color-links-hover:          $color-brand-beta-light;


// Buttons
$color-btn:                  $color-brand-alpha;
$color-btn-hover:            $color-brand-alpha-light;
$color-btn-border:           $color-btn-hover;

$color-btn-secondary:        $color-brand-beta;
$color-btn-secondary-hover:  $color-brand-beta-light;
$color-btn-secondary-border: $color-brand-beta;

$color-btn-tertiary:         $color-brand-gamma;
$color-btn-tertiary-hover:   $color-brand-gamma-light;
$color-btn-tertiary-border:  $color-btn-tertiary-hover;
