///*------------------------------------*\
//    #ICONS
//\*------------------------------------*/

$icon-font-path: "../fonts/icomoon/fonts";

$icon-mappings: (
  font-family: 'icomoon',
  codes: (
    bill:        "\e66d",
    calendar:    "\e644",
    pin:         "\e672",
    map:         "\e673",
    tag:         "\e63a",
    newspaper:   "\e670",
    image:       "\e685",
    zoomin:      "\e63d",
    clock:       "\e64c",
    list:        "\e61e",
    arrow-up:    "\e629",
    youtube:     "\e68d",
    facebook:    "\e68c",
    phone:       "\e65d",
    star:        "\e64b",
    stack:       "\e671"
  )
);
