///*------------------------------------*\
//    #SPACING-UNIT
//\*------------------------------------*/


$spacing-unit:          $base-line-height;
$spacing-unit--tiny:    $spacing-unit / 4;
$spacing-unit--small:   $spacing-unit / 2;
$spacing-unit--medium:  $spacing-unit * 1.5;
$spacing-unit--large:   $spacing-unit * 2;
$spacing-unit--xlarge:  $spacing-unit * 4;
