///*------------------------------------*\
//    #TYPE
//\*------------------------------------*/


// Base fonts.
$font-primary: "proxima-nova", sans-serif;
$font-secondary: "proxima-nova-condensed", sans-serif;


// Headings.
$font-h1: 60px;
$font-h2: 48px;
$font-h3: 36px;
$font-h4: 24px;
$font-h5: 20px;
$font-h6: 16px;


// Body font.
$font-size-medium:      14px;
$font-size-small:       12px;
$font-size-extra-small: 10px;


// Compass settings.
$base-font-size:             16px;
$base-line-height:           24px;
$round-to-nearest-half-line: true;
$rhythm-unit:                "rem";


// Weights
$font-thin:   100;
$font-light:  200;
$font-normal: 400;
$font-bold:   700;


// Headings
$font-heading: $font-secondary;
