///*------------------------------------*\
//    #WRAPPER
//\*------------------------------------*/


$wrapper-width-default:    1200px;
$wrapper-width-medium:     720px;
$wrapper-width-large:      1800px;
