/*------------------------------------*\
    #FORM
\*------------------------------------*/


form label {
  color: $color-white;
  font-weight: $font-normal !important;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  max-width: 100%;
  width: 100%;
  color: $color-white;
  padding-top: $spacing-unit--tiny;
  padding-bottom: $spacing-unit--tiny;
  background: none;
  border: none;
  border-bottom: solid 2px $color-white;

  @include attention {
    color: $color-brand-beta-light;
    border-bottom: solid 2px $color-brand-beta-light;
  }
}

input:focus,
textarea {
  outline: 0;
}

input[type="submit"] {
  @extend .button;
  @extend .button--secondary;
}
