/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/


// Base.
html, body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $font-primary;
  color: $base-text-color;
  background: $color-grey-light;
}


// Headings.
h1, h2, h3, h4, h5, h6 {
  font-weight: $font-normal;
}

h1, .font-h1 {
  @include font-size($font-h1);
}

h2, .font-h2 {
  @include font-size($font-h2);
}

h3, .font-h3 {
  @include font-size($font-h3);
}

h4, .font-h4 {
  @include font-size($font-h4);
}

h5, .font-h5 {
  @include font-size($font-h5);
}

h6, .font-h6 {
  @include font-size($font-h6);
}


// Links
a {
  @extend %default-link;
}

// Address
address {
  display: inline-block;
  font-style: normal;
}
